<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Read The Blog</title>
  </head>
  <body>
    <div class="container">
      <h1>This is a Blog By : <%= blog.author %></h1>
      <img src="<%= blog.image %>" alt="<%= blog.title %>" width="50%" />
      <p>The topic of the Blog is <%= blog.title %></p>
    </div>
  </body>
</html>
