<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a New Product</title>
  </head>
  <body>
    <form action="/products/create" method="post">
      <h1>Form for Adding new Item</h1>
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Enter Product Name"
        required
      />
      <label for="description">Description</label>
      <input
        type="text"
        id="description"
        name="description"
        placeholder="Enter Something About the Product"
        required
      />
      <label for="price">Price</label>
      <input
        type="number"
        name="price"
        id="price"
        placeholder="Enter the Price of the Product"
        required
        min="50"
      />
      <button type="submit">Add your Item.</button>
    </form>
  </body>
</html>
